*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.top .search input {
    background-color:white;
    border: none; 
    outline: none;
    height: 25px ;
    margin-left: 20px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.top .search input:hover{
    transform: translate(-8%,0%);
    transition: all 0.5 ease;
} 
.top .search .fa-magnifying-glass{
    color: rgb(138, 138, 138);
}
.top .name button {
    margin-right: 30px ;
    width: 120px;
    padding: 5px ;
    background-color: white;
}
.top .name button a{
    text-decoration: none;
}
.top .name button a p{
    font-size: 18px;
    font-weight: bold;
    color: black;

}
.top .icon a{
    color: rgb(139, 138, 138);
}
.top .icon i{
    margin-right: 15px;
}
.top .icon .fa-user:hover{
    color: black;
}
.top .icon .fa-cart-shopping:hover{
    color: black;
}
/* END NAV top */

/* START nav_par */
.nav_par .choose{
    width: 100%;
    height:70px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_par .choose a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}
.nav_par .choose a:hover{
    color: rgb(158, 5, 158);
}
.nav_par .choose i{
    margin: 5px 0px 0px 8px;
    
}
.nav_par .choose i:hover{
    color: rgb(158, 5, 158);
}
.nav_par .choose .HOME{
    display: flex;
    color: rgb(214, 4, 214) ;
}
.nav_par .choose .ABOUT{
    display: flex;
}
/*   END nav_par   */

/*   START shoes  */
.shoes{
    width: 100%;
    height: 100vh ;
    background-color:#a6f3ed;
    position: relative;
    overflow: hidden;

    
}
.shoes .image img{
    width: 700px;
    position: absolute;
    transform: translate(20%,40%);
}
.shoes .details{
    position: absolute;
    transform: translate(210%,70%);

}
.shoes .details h1{
    font-size: 50px;
    margin-bottom: 50px;
    
}
.shoes .details p{
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 1.5;
}
.shoes .details button{
    width: 100px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #821be9;
    border: none;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    
}
.shoes .details button:hover{
    transform: scale(1.2);
    transform: translate(0%,-10%);
    box-shadow: 1px 0px  10px 0px #181717 ;
}

/* END shoes */

/* START free */
.free{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.free .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free .car{
    display: flex;
    width: 18%;  
    margin-top: 20px; 
}

.free .refresh{
    display: flex;
    width: 18%;
    margin-top: -5px;   
}
.free .question{
    display: flex;
    justify-content: space-around; 
    width: 18%;   
}
.free div i{
    font-size: 25px;
    margin-right: 20px;
    color: rgb(95, 80, 180) ;
}
.free div p{
    color: rgb(108, 107, 107);
    line-height: 1.5;
    
}
/* END free */

/* START catgories */

.catgories{
    width: 100%;
    height: 600px;
    margin-top: 60px ;

}
.catgories hr{
    width: 70px;
    height: 5px;
    background-color: #821be9; 
    margin-left: 40%;
    margin-bottom: 15px;
    border-radius: 10px;
 }
.catgories .writer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px ;
}
.catgories .container {
    display: flex;
    justify-content: center;
}
.catgories .container .women img{
    margin-right: 40px;
    position: relative;
    transition: all 0.5s ease;
}
.catgories .container .women div{
    position: absolute;
    transform: translate(10%,-150%); 
}
.catgories .container .women div p{
    font-size: 10px;
    color: white;
}
.catgories .container .women div h3{
    font-size: 25px;
    color: white;
}
.catgories .container .women img:hover{
    transform: scale(1.1);
}


.catgories .container .children img{
    margin-right: 40px;
    position: relative;
    transition: all 0.5s ease;

}
.catgories .container .children div{
    position: absolute;
    transform: translate(10%,-150%); 
}
.catgories .container .children div p{
    font-size: 10px;
    color: white;
}
.catgories .container .children div h3{
    font-size: 25px;
    color: white;
}
.catgories .container .children img:hover{
    transform: scale(1.1);
}
.catgories .container .men img{
    position: relative;
    transition: all 0.5s ease;

}
.catgories .container .men div{
    position: absolute;
    transform: translate(10%,-150%); 
}
.catgories .container .men div p{
    font-size: 10px;
    color: white;
}
.catgories .container .men div h3{
    font-size: 25px;
    color: white;
}
.catgories .container .men img:hover{
    transform: scale(1.1);
}

/*  END catgories */

/* START Featured */
.Featured{
    width: 100%;
    height: 100vh ;
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
}

.Featured .writer{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.Featured .container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.Featured .container .tank{
    height: 400px;
    text-align: center;
    background-color: white;
    margin-right: 40px;
    box-shadow: 0 0 5px 5px #ddd ;
}
.Featured .container .tank div{
    margin-top: 28px;
}
.Featured .container .tank div a{
    text-decoration: none;
    color: #821be9 ;
    font-size: 17px;
}
.Featured .container .tank div a h4{
    margin-bottom: 10px;
}
.Featured .container .tank div p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.Featured .container .corater{
    height: 400px;
    text-align: center;
    background-color: white;
    margin-right: 40px;
    box-shadow: 0 0 5px 5px #ddd ;
}
.Featured .container .corater div{
    margin-top: 65px;
}
.Featured .container .corater div a{
    text-decoration: none;
    color: #821be9;
    font-size: 17px;
}
.Featured .container .corater div a h4{
    margin-bottom: 10px;
}
.Featured .container .corater div p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.Featured .container .polo{
    height: 400px;
    text-align: center;
    background-color: white;
    margin-right: 40px;
    box-shadow: 0 0 5px 5px #ddd ;
}
.Featured .container .polo div{
    margin-top: 28px;
}
.Featured .container .polo div a{
    text-decoration: none;
    color: #821be9;
    font-size: 17px;
}
.Featured .container .polo div a h4{
    margin-bottom: 10px;
}
.Featured .container .polo div p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
/*      END Featured      */

/*     START Big_Sal    */
.Big_Sal{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.Big_Sal .big{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 25%;
}
.Big_Sal .container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.Big_Sal .container .image{
    margin-right: 50px;
}
.Big_Sal .container .writer{
    width: 33%;
    text-align: center;
    margin-left: 10px;
}
.Big_Sal .container .writer h2{
    font-size: 30px;
    margin-bottom: 70px;
    color: #821be9;
}
.Big_Sal .container .writer .By{
    margin-bottom:50px ;
    font-size: 15px;
    color: gray;
}
.Big_Sal .container .writer .By a{
    text-decoration: none;
    color: #8010f0;
}
.Big_Sal .container .writer .Lorem{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
    line-height: 1.5;

}

.Big_Sal .container .writer button{
    width: 100px;
    height: 40px;
    padding: 8px;
    color: white;
    background-color: #8b38df;
    border: none;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    
}
.Big_Sal .container .writer button:hover{
    transform: scale(1.2);
    transform: translate(0%,-10%);
    box-shadow: 1px 0px  10px 0px #181717 ;
    background-color: #821be9;
}
/*     END Big_Sal    */

/*     START  footer  */
footer{
    width: 100%;
    height:500px;
    margin-top: 50px;

}

footer .container{
    display: flex;
    justify-content: center;
}


footer .container .Navigations{
    margin-right: 30px;
}
footer .container .Navigations h2{
 margin-bottom: 35px;
}
footer .container .Navigations .all{
    display: flex;
    justify-content: space-between;
}
footer .container .Navigations .all div{
    margin-right: 60px;
}
footer .container .Navigations .all .Sell{
    margin-right: 100px;
}
footer .container .Navigations .all div p{
    color: gray;
    line-height: 2;
}


footer .container .Promo{
    margin-right: 40px;
}
footer .container .Promo h2{
    margin-bottom: 40px;
}
footer .container .Promo div{
    margin-top: 20px;
}
footer .container .Promo div a{
    text-decoration: none;
    color: #8b38df;
}
footer .container .Promo div p{
    color: gray;
    margin-top: 5px;
}

footer .container .Contact h2{
    margin-bottom: 40px;
}
footer .container .Contact .addr{
    margin-bottom: 60px;

}
footer .container .Contact .address {
    display: flex;
    margin-bottom: 20px;
    
}
footer .container .Contact .address i{
    margin-right: 15px;
    color: #821be9;

}
footer .container .Contact .Subscribe {
    margin-left: 20px;
}
footer .container .Contact .Subscribe h3{
    margin-bottom: 15px;
}
footer .container .Contact .Subscribe .send .Email{
    padding: 10px;
    width: 260px;
    position: relative;
    outline: none;
}
footer .container .Contact .Subscribe .send .submit{
    width: 70px;
    background-color: #821be9;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    position: absolute;
    transform: translate(-102%,5%);
}
footer .Copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px -30px ;
}
footer .Copyright p{
    color: gray;
}
footer .Copyright a{
    text-decoration: none;
    margin-left: 5px;
    color: #821be9;
}
/* END  FOOTER*/
/* لا تنسي الخطوط  */